/*总体设置*/
header,nav,#banner,section,#movies,#Customer,#footer{
	width:1230px;margin:0 auto;
}
html{background:#F5F5F5;}
body{font:14px "microsoft yahei",Arial,Helvetica,sans-serif;
color:#333;margin:0;padding:0;}
ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{margin:0;padding:0;border:0;list-style:none;}
input{outline:none;}/*清楚点击时的边框*/
a{color:#333; text-decoration:none;}
a:hover{color:#FF6700;text-decoration:none;}
.rt{float:right;}
.lt{float:left;}
/********项目**css动画********/

section li{transition:all 0.2s linear}
section li:hover{transform:translate3d(0,-2px,0);
	z-index: 2;box-shadow:0 15px 30px rgba(0,0,0,0.1) }
#movies ul li:hover{ transform: rotateY(180deg);}
#movies ul li{transition: all 0.6s ease 0s;}
/*11111111111111111111111111111111111第一头部header111111111111111111111111111111111*/
header{
	width:100%;height:40px;line-height:40px;
	background:#333;	
}
header div:first-child{margin:0 auto;}
#top{width:1230px;}
#top a,p{color:#B0B0B0;}
#top a:hover{color:#fff;}
/*左边*/
#top_lt li{float:left;color:#fff;padding-left:10px;}
#top b{color:#B0B0B0;padding-left:10px;}
/*右边*/
#top_rt a{padding-left:6px;}
#top_rt a:nth-child(5){padding-right:10px;}
#top_rt p{padding-right:10px;background:#424242;}

/*2222222222222222222222222222222222222222*第二部分nav2222222222222222222222222222222*/
#nav{margin:20px 0 ;height:56px;line-height:56px;position:relative;}
#nav ul li{float:left;padding-left:10px;font-size:17px;}
/*********js手机动画********/
#nav p{float:left;margin:0 20px;}
#nav p img:last-child{padding-left:50px;}
/****搜索框***/
#search{width:296px;height:51px;line-height:50px;position:relative;border:1px solid #E0E0E0;}
#search:hover{border:1px solid #B0B0B0}
#search input:active #search{border:1px solid red;}
#search input{width:240px;height:45px;} 
#search button{width:50px; height:51px;position:absolute;}
#search>div.search_nav{position:absolute;top:2px;right:70px;}
#search>div a{margin-left:10px;font-size:15px;}
/****搜索框下拉菜单***/
#search>div.search_box{width:245px;border:1px solid #FF6700;
		position:absolute;top:50px;right:49px;
		float:left;display:none;
		background:#fff;}
/*#search_box ul li a{display:block;width:245px;}
#search_box ul li span{text-align:right;}*/
#search:hover .search_box{display:block;}

/*********导航弹出框****************/
#nav_product ul{width:100%;height:230px;border:1px solid #D8D8D8;display:none;}





/*33333333333333333333*第三部分**banner*33333333333333333333333333333333333333333333**/
#banner:before{content:"";display:block; clear:both;position:relative;}
/**左边category种类（类别） */
#category{height:460px;width:235px;background:#666666;
	position:absolute;top:138px;}
#category ul{
	margin-top:17px;
}
#category ul li{padding:12px;cursor:pointer;}
#category ul li:hover{background:#FF6F0F;}
#category ul li a{color:#fff;}
#category ul li b{width:7px;height:13px;display:inline-block;
	background:url(images/background.png) no-repeat 0 -53px;
	float:right;}
/*/!**广告轮播序号***!/*/
/*#banner div.pot{position:relative;}*/
/*#banner div.pot>ul{position:absolute;top:-41px;right:31px;}*/
/*#banner div.pot>ul li{float:left;width:6px;height:6px;border:2px solid #939393;*/
	/*border-radius:10px;margin:10px;background:#8F8F8F;cursor:pointer;}*/
/*#banner div.pot>ul li:hover{background:#fff;}*/
/*******左边banner菜单弹出框******/
#category_right{position:relative;}
#category_right>ul{width:800px;height:456px;border:1px solid red;
	position:absolute;bottom:5px;right:195px;display:none;}
#category_right>ul li{margin:0px;}
#category_right>ul li b{display:inline-block;width:54px;height:54px;}

/***********banner bottom************/
#banner_btm ul{width:233px;height:170px;border:1px solid #948F8A;background:#5F5750;margin:5px 5px 5px 0;}
#banner_btm ul li{width:70px;height:82px;padding:0 3px;float:left;}
#banner_btm ul li a{display:block;padding-top:18px;color:#CFCDCB;margin-left:10px;}
#banner_btm ul li a:hover{color:#fff;}
#banner_btm ul li i{display:block;height:24px;line-height:24px;margin-bottom:4px;
background:url(images/i1.png)no-repeat ;margin-left:23px;}

#banner_btm a img{width:316px;height:170px;margin:5px 6px;padding-right:1px;}
/*444444444444444444444444444444444444444**SECTION*******444444444444444444444444444444***/
section{border:1px  solid #F5F5F5;}
/*************\\第一部分*****小米明星单品*********/
#star>div>h2{font-size:22px;font-weight:200;line-height:58px;} 
#star>div>p{width:72px;height:27px;
background:url(images/background.png) no-repeat -71px 0; }
/**下面电视手机**/
#star {border:1px solid #fff;height:424px;float:left;background:#fff;}
#star dl{width:228px;height:300px;text-align:center;margin-right:21px;float:left;
	border-top:1px solid #333;padding-top:56px;background:#F5F5F5;}
#star dl>dt>a>img{width:160px;height:160px;}
#star dl dd.Ltc{color:#FF6A0A;padding:16px;}
#star dl dd h4{padding:5px 0;}
#star div.star_dl{float:left;height:300px;}
#star div.star_dl dl:nth-child(5){margin-right:0;}
/**设置dl上面的边框颜色**/
#star div.star_dl dl.s1{border-top-color:#FDCF7A;}
#star div.star_dl dl.s2{border-top-color:#B8DC9B;}
#star div.star_dl dl.s3{border-top-color:#37A0F4;}
#star div.star_dl dl.s4{border-top-color:#E74D49;}
#star div.star_dl dl.s5{border-top-color:#41D0BC;}
/*************\\第二部分*****智能硬件product_hardware*********/
#product_hardware{width:1230px;border:1px solid #F5F5F5;float:left;}
#product_hardware>a{line-height:19px;}
#product_hardware>a b:hover{background:#FF6700;}
#product_hardware>a b{display:inline-block;width:15px;height:15px;
	line-height:15px;border:1px solid #B0B0B0;border-radius:50%;
	background:#B0B0B0;color:#fff;text-align:center;margin-left:8px;padding:3px;}
#product_hardware a.prHe{float:left;width:234px;height:614px; margin-top:10px;}
/**右边列表**/
#hardware{margin-top:9px;}
#hardware li{float:left;width:236px;height:300px;margin-left:13px;background:#fff;
text-align:center;margin-bottom:14px;}
#hardware li div {margin-bottom:45px;}
#hardware li h4{height:20px;margin:10px auto;}
#hardware li span{display:block;color:#FFAC13;margin:10px;}
#hardware li.no_banner h4{margin-top:57px;} 

/***************\\第三部分****搭配*****************************/
#pd_match,#pd_parts,#pd_circum{float:left;border:1px solid #F5F5F5;margin-top:10px;}
#pd_match div.top,#pd_parts div.top,#pd_circum div.top
{float:left;margin:10px auto;width:1230px;}
 div.top ul li{float:left;padding-left:20px;margin-left:20px;}
 ul.rt_li{float:left;width:1230px;height:614px; }
/****好多列表该***/
ul.rt_li li{float:left; width:236px;height:300px;margin-left:13px;
	background:#fff;text-align:center;margin-bottom:14px;}
#pd_match ul.rt_li li img{margin:20px auto;}
#pd_match ul.rt_li li span{ display:block;margin:16px auto;}
#pd_match ul.rt_li li span s{padding-left:8px;color:#B0B0B0;}
/***右边***/
#pd_match ul.rt_li li>div{ height:140px;margin-bottom:10px;} 
#pd_match ul.rt_li li>div span,h3{margin:0;padding-top:40px;}
/*******************\\第四部分******配件*****************************/

/*******************\\第五部分******周边*****************************/

/*******************\\第六部分******为你推荐*****************************/
#recommended{float:left;border:1px solid #F5F5F5;margin-top:10px;}
#recommended div.top{float:left;margin:10px auto;width:1230px;}
#recommended div.top ul li{float:left;padding-left:20px;margin-left:20px;}
#recommended div.top ul li:nth-child(1) a{color:#FF6700;
border-bottom:2px solid #FF6700;}
#recommended ul.rt_li{float:left;width:1230px;height:300px; }
/*******************\\第七部分******热评产品*****************************/
#buzz h2{margin:10px auto;}
#buzz ul li{float:left;width:300px;margin-right:10px;margin-bottom:20px;}
#buzz ul li:last-child{margin-right:0px;}
#buzz ul li span{display:inline-block;color:#FF673A;margin-top:10px;padding-left:10px;}
#buzz ul li p{padding:20px 0;}
#buzz ul li>div{width:236px;text-align:left;margin-left:30px;}
#buzz ul li:nth-child(1) div{margin-top:10px;}
#buzz ul li:nth-child(2) div{margin-top:20px;}
#buzz ul li:nth-child(4) div{margin-top:20px;}
/*44444444444444444444444第四部分444444444视频444444444444444444444444444444444444444444**/
#movies {margin-top:15px;}
#movies>a b:hover{background:#FF6700;}
#movies>a b{display:inline-block;width:15px;height:15px;
	line-height:15px;border:1px solid #B0B0B0;border-radius:50%;
	background:#B0B0B0;color:#fff;text-align:center;margin-left:8px;padding:3px;}
#movies ul{border:1px  solid #F5F5F5;float:left;margin:10px auto;}
#movies ul li{float:left;margin-right:8px;text-align:center;}
#movies ul li:last-child{margin-right:0px;}
#movies ul li p{margin:10px auto;}
#movies ul li span{color:#B0B0B0;}
/**555555555555555555555555555555555第五部分55555**55 客户服务5555555555555555555******/
#Customer>ul li{float:left;padding-left:45px;height:56px;line-height:56px;font-size:19px;}
#Customer>ul>span{font-size:15px;float:left;padding-left:66px;color:#B0B0B0;}
#Customer>ul{height:56px;line-height:56px;float:left;width:1230px;}
#hps ul {float:left;height:134px;}
#hps ul.help>li{float:left;margin:28px;padding-right:45px;}
#hps ul li a{display:block;margin: 10px 0 0;font-size: 12px;}
#hps>div{width: 251px;height: 134px;border-left: 1px solid #e0e0e0;text-align: center;
	color: #616161;margin:6px 16px;}
#hps>div>div{margin: 0 0 5px;font-size: 22px;color: #ff6700;}
#hps>div>p{margin: 0 0 16px;font-size: 12px;}
/*#hpd>div a.hv{display:block;}
#hpd>div a img:hover{background:#F25807;color:#fff;}*/
#hps{height:200px;}
/**66666666666666666666666666第六部分 footer66666666666666666666666666666666666666*****/
#ft{background:#FAFAFA;width:100% ;border:1px  solid #FAFAFA;clear:both;}
#footer{border:1px  solid #FAFAFA;clear:both;height:56px;margin:20px auto;}
#footer:before{content:"";overflow:hidden;clear:both;}
#footer>p{width:57px;height:57px;background:url(images/logo-footer.png)no-repeat;}
#footer div.lt{font-size:12px;}
#footer div.lt>p{margin:4px 0px;}
#footer div.rt{margin-top:16px;}
div.btm{width:1230px;clear:both ;margin:30px 615px;height:19px;
background: url(images/slogan2016.png) no-repeat;}