/*******登录页面++++注册页面******/


/**摸态框**/
    /*半透明遮罩层*/
/*登录页面*/
body {
    font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;
    color: #666;
    margin: 0px;
    padding: 0px;
}
.modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background:rgba(0,0,0,0.6);
	z-index:1000;
}
.modal-dialog{
	width:500px;
	margin:120px auto;
}
.modal-content {
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 5px #aaa;
    padding: 16px 43px;
    text-align: center;
    color: #757575;
}
.modal-content input {
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
    line-height: 2em;
    border: 1px solid #aaa;
    border-radius: 2px;
    padding: 6px 6px;
}
#logo-button{
    background: #EF5B00;
    color: #ffffff;
    margin-bottom: 24px;
}
.othser-legend{
    border-top: 1px solid #e0e0e0;
    border-bottom:0;
    border-left:0;
    border-right:0;
    padding-top: 10px;
    color:#b0b0b0;
    font-size: 14px;
}


/**********/
a{color:#333; text-decoration:none;}
a:hover{color:#FF6700;text-decoration:none;}
.other-link{
    list-style: none;
    text-align: center;
    color: #e0e0e0;

}
.other-link a{
    padding: 5px;
    font-size: 14px;
}
.icon-type{
    width: 30px;
    height: 30px;
    margin: 0 12px;
    display: inline-block;
    background:#717171 ;
    border-radius: 50%;
}
.icon-type:hover{
    background:#FF6700 ;
}
.icon-type-qq,
.icon-type-sina,
.icon-type-zfb{
    display: block;
    width: 18px;
    height: 18px;
    background: url(../images/icons_type.png) no-repeat;
    margin: 5px auto 0;

}

.icon-type .icon-type-qq{
    width: 17px;
    background-position: -21px 0;
    margin-left: 8px;
}.icon-type .icon-type-sina{
    background-position: -38px 0;
}
.icon-type .icon-type-zfb{
    width: 27px;
    background-position: -57px 0;
    margin-top: 6px;
    margin-left: 4px;
    vertical-align: middle;
}

/**
**        注册页面
**/
.main{
    position: relative;
}
.bg-video{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.container{
    width: 970px;
    margin: 0 auto;
}
.form-container{
    width: 500px;
/*    min-height: 500px;*/
    border :1px solid #aaa;
    border-radius: 8px;
    margin: 200px auto;
    padding: 50px;
    background: rgba(255,255,255,.7);
}

#form-register .form-group{
    line-height: 3em;
    margin-bottom: 15px;
	
}
#form-register label{
    display: inline-block;
    width: 80px;
    text-align: right;
}
#form-register input{
    width: 200px;
    padding: 5px;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    vertical-align: middle;
}


.help-block {
    color: #fff;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid transparent;
}
.bg-default {
    background: #999;
    border-color: #777;
}
.btn-success ,
.bg-success{
    background: #090;
    border-color: #070;
}
.btn-danger,
.bg-danger{
    background: #900;
    border-color: #700;
}
.btn {
	width:100px;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    color: #fff;
}
#form-register input.btn{
	width:153px;
	margin-right:12px;
}
.btn-group{
    text-align:center;
}