* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
#tophead {
	background-color: rgb(51, 51, 51);
	height: 40px;
}
#top-left {
	margin-left: 145px;
}
#top-left ul {
	float: left;
	height: 40px;
}
#top-left ul li {
	float: left;
	margin-left: 5px;
}
#top-right {
	margin-right: 145px;
}
#top-right ul {
	float: right;
	height: 40px;
}
#top-right li {
	float: left;
	margin-left: 5px;
}
.sep {
	line-height: 40px;
	font-size: 12px;
	color: rgb(66, 59, 54);
}
.link-1 {
	color: #b0b0b0;
	line-height: 40px;
	font-size: 12px;
}
.link-1:hover {
	color: #fff;
}
#head {
	height: 100px;
	width: 1226px;
	margin: 0 auto;
}
#logo {
	float: left;
	margin-top: 25px;
	width: 55px;
	height: 55px;
}
.commodity-classify {
	float: left;
	margin-left: 180px;
}
.commodity-classify li {
	float: left;
	margin-left: 19px;
}
.commodities-classify {
	color: #000;
	font-size: 16px;
	line-height: 100px;
}
.commodities-classify:hover {
	color: rgb(255, 103, 79);
}
#search-box {
	float: right;
	margin-top: 25px;
	width: 294px;
	height: 49px;
}
#search {
	width: 245px;
	height: 100%;
	border: 1px solid rgba(176, 176, 176, 0.5);
	text-indent: 2em;
}
#search-button {
	display: block;
	float: right;
	width: 49px;
	height: 100%;
	line-height: 49px;
	border: 1px solid rgba(176, 176, 176, 0.5);
}
#category {
	margin-left: 145px;
	margin-right: 145px;
	position: relative;
	height: 460px;
	float: left;
}
.leftBar {
	position: absolute;
	left: 0;
	top: 0;
	width: 220px;
	height: 460px;
	padding: 20px 0;
	background-color: rgba(0, 0, 0, 0.6);
	float: left;
}
.leftBar a {
	float: left;
	height: 42px;
	width: 100%;
	text-decoration: none;
	color: #fff;
	line-height: 42px;
	padding: 0 30px;
	font-size: 14px;
	box-sizing: border-box;
}
.leftBar a span {
	font-size: 16px;
	font-weight: bold;
	float: right;
}
.leftBar a:hover {
	background-color: #ff6700;
}
.run {
	position: relative;
}
.runimg img {
	position: absolute;
	height: 460px;
	width: 1226px;
}
.runimg {
	opacity: 0;
	transition-duration: 1s;
}

.theme {
	margin-left: 145px;
	margin-right: 145px;
	float: left;
	height: 170px;
	width: 1226px;
	margin-top: 14px;
    margin-bottom: 25px;
}
.menu {
	width: 234px;
	height: 100%;
	float: left;
	margin-right: 2px;
}
.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu ul li p img {
	margin-top: 10px;
	width: 25px;
	height: 25px;
}
.menu ul a {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	background-color: #5f5750;
	float: left;
	width: 78px;
	height: 85px;
	box-sizing: border-box;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-width: 0 1px 1px 0;
	font-size: 40px;
	text-align: center;
	line-height: 35px;
	padding-top: 12px;
}
.menu ul a:hover {
	color: rgba(255, 255, 255, 1);
}
.menu ul a p {
	margin: 0;
	font-size: 14px;
	line-height: 14px;
}

.product a {
	float: left;
	margin-left: 14px;
}
.product img {
	width: 316px;
	height: 170px;
	vertical-align: bottom;
}
#mainbody {
	padding-left: 145px;
	padding-right: 145px;
    height: 6550px;
    background-color:rgb(245, 245, 245);
}
.centerline {
	margin-top: 25px;
}
.titles {
    height: 75px;
}
.titles p {
    float: left;
    line-height: 75px;
    font-size: 22px;
	font-weight:lighter;
}
.more {
	margin-top: 30px;
    float: right;
    font-size: 16px;
}
.more a {
	color: rgb(66, 66, 66);
}
.leftpic {
	float: left;
    width: 284px;
    height: 609px;
}
.leftpic img {
	width: 100%;
    height: 100%;
    transition: transform 0.5s,box-shadow 0.5s;
}
.leftpic img:hover {
	transform: translateY(-5px);
    box-shadow: 0 5px 30px rgba(0,0,0,.1);
}
.sort1 {
	height: 609px;
	display: flex;
}
.sort1 ul {
	width: 1226px;
    float: left;
    margin-left: 15px;
}
.sort1 ul li {
	float: left;
  margin-left: 15px; 
    width: 235px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    transition: transform .5s,box-shadow .5s;
}
.sort1 ul li:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
}
.sort1 ul li:nth-child(1) {
    margin-left: 0;
}
.sort1 ul li:nth-child(5) {
    margin-left: 0;
    margin-top: 10px;
}
.sort1 ul li:nth-child(n+6) {
    margin-top: 10px;
}
.sort1 ul li p {
    display: block;
    height: 18px;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    color: rgb(176, 176, 176);
}
.sort1 ul li span {
	display: block;
    height: 20px;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    color:rgb(255, 103, 0);
}
.pic img  {
    width: 160px;
    height: 160px;
    text-align: center;
    margin-top: 20px;
    margin-left: 38px;
}
.content {
    color: rgb(51, 51, 51);
    height: 21px;
    text-align: center;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 400;
}
.titles a {
	margin-top: 20px;
    margin-left: 20px;
    color: #000;
    font-size: 16px;
    float: right; 
}
.titles a:hover {
    color: rgb(255, 103, 0);
    border-bottom: 2px solid rgb(255, 103, 0);
}
.boxtop {
    position: relative;
	margin-top: 10px;
    margin-left: 15px;
    float: left;
    width: 235px;
    height: 144.5px;
    background-color: #fff;
    transition: transform .5s,box-shadow .5s;
}
.boxtop img {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 80px;
    height: 80px;
}
.boxtop p {
    padding-top: 31px;
    padding-left: 30px;
	color: rgb(51, 51, 51);
    margin-top: 0px;
    font-size: 14px;
    font-weight: 400;
}
.boxtop span {   
    display: block;
    padding-left: 30px;
    padding-top: 10px;
    color:rgb(255, 103, 0);
}

.boxbotton {
    position: relative;
    margin-top: 10px;
    margin-left: 15px;
    float: left;
    width: 235px;
    height: 144.5px;
    background-color: #fff;
    transition: transform .5s,box-shadow .5s;
}
.boxbotton p {
    padding-left: 29px;
    padding-top: 35px;
    font-size: 20px;
    color: #000;
}
.boxbotton span {
	display: block;
    height: 18px;
    margin-top: 25px;
    font-size: 12px;
    color: rgb(117, 117, 117);
    padding-left: 29px;
}
.boxtop:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
}
.boxbotton:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
}
.leftpic2 {
	float: left;
    background-color: rgb(255, 255, 255);
    width: 284px;
    height: 300px;
}
.pic2 {
	margin-top: 5px;
}
.leftpic2 img {
	width: 100%;
    height: 100%;
    transition: transform 0.5s,box-shadow 0.5s;
}
.leftpic2 img:hover {
	transform: translateY(-5px);
    box-shadow: 0 5px 30px rgba(0,0,0,.1);
}
#bottom {
	padding-left: 145px;
	padding-right: 145px;
	display: block;
	width: 100%;
    height: 495px;
    background-color: white;
}
.bottom-tag {
    margin-top: 26px;
	position:static;
    height: 70px;
    border-bottom: 1px solid rgba(105, 97, 97,.3);
}
.bottom-tag a {
	margin-left: 63px;
    display:inline-block;
    padding-left: 5px;
    color: rgb(97, 97, 97);
    font-size: 16px;
    width: 188px;
    border-right: 1px solid rgba(105, 97, 97,.2);
}
.bottom-tag a:hover {
	color: rgb(231, 126, 7);
}
.bottom-tag a:nth-child(1) {
    margin-left: 0;
}
.bottom-left {
	width: 950px;
    float: left;
}
.bottom-left dl {
    float: left;
    margin-left: 100px;
    margin-top: 40px;
    color: #757575;
}
.bottom-left dl:nth-child(1) {
    margin-left: 0;
}
.bottom-left dl dt {
    margin-bottom: 25px;
    color: #424242;
}
.bottom-left dl dd {
    margin-bottom: 5px;
}
.bottom-left dl dd a {
    color: #757575;
    font-size: 12px;
}
.bottom-left dl dd a:hover {
    color: rgba(224, 113, 9, 0.979);
}
.bottom-right {
    margin-top: 40px;
    float: right;
	padding-left: 80px;
	border-left: 1px solid rgba(105, 97, 97,.2);
}
.bottom-right h5 {
    font-size: 22px;
    color: #ff6700;
    font-weight: 400;
}
.bottom-right span {
    display: block;
    font-size: 12px;
    color: #616161;
}
.bottom-right a {
    display: block;
    margin-top: 5px;
    width: 120px;
    height: 30px;
    border: 1px solid #ff6700;
    color: #ff6700;
    text-align: center;
    line-height: 30px;
    transition: color .5s, background .5s;
}
.bottom-right a:hover {
    background-color: rgb(242, 88, 7);
    color: #fff;
}
.bottom-right p {
    margin-top: 5px;
    font-size: 12px;
    color: #757575;
}