.s-con {
  margin: 0 auto;
}

.s-con .banner-wrapper {
  height: 460px;
  position: relative;
}

.s-con .banner-wrapper .l-list {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 234px;
  height: 460px;
  background-color: rgba(105, 101, 101, 0.6);
  padding-top: 20px;
}

.s-con .banner-wrapper .l-list>li {
  height: 42px;
  line-height: 42px;
  padding: 0 30px;
}

.s-con .banner-wrapper .l-list>li>a {
  color: #fff;
  float: left;
}

.s-con .banner-wrapper .l-list>li i {
  color: #fff;
  float: right;
}

.s-con .banner-wrapper .l-list>li ul {
  height: 458px;
}

.s-con .banner-wrapper .l-list>li .child-list {
  display: none;
  width: 992px;
  height: 458px;
  border: 1px solid #e0e0e0;
  border-left: 0;
  position: absolute;
  left: 234px;
  top: 0;
  z-index: 999;
}

.s-con .banner-wrapper .l-list>li .child-list .child-list-item {
  width: 25%;
  float: left;
  background-color: #fff;
}

.s-con .banner-wrapper .l-list>li .child-list .child-list-item>li {
  height: 40px;
  line-height: 40px;
  padding: 18px 20px;
  color: #333;
}

.s-con .banner-wrapper .l-list>li .child-list .child-list-item>li img {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 12px;
}

/* 右侧轮播图 */

.s-con .banner-wrapper .banner {
  position: relative;
  width: 1226px;
  height: 460px;
  overflow: hidden;
}

.s-con .banner-wrapper .banner .banner-img {
  position: absolute;
  width: 6130px;
}

.s-con .banner-wrapper .banner .banner-img li {
  float: left;
}

.s-con .banner-wrapper .banner .banner-img li img {
  width: 1226px;
  height: 460px;
}

.s-con .banner-wrapper .banner .banner-arr span {
  width: 41px;
  height: 69px;
  position: absolute;
  top: 50%;
  margin-top: -35px;
}

.s-con .banner-wrapper .banner .banner-arr span i {
  display: block;
  font-size: 40px;
  margin-top: 20px;
  margin-left: 5px;
}

.s-con .banner-wrapper .banner .banner-arr .left {
  left: 234px;
}

.s-con .banner-wrapper .banner .banner-arr .right {
  right: 0;
}

.s-con .banner-wrapper .banner .banner-disc {
  position: absolute;
  right: 30px;
  bottom: 25px;
}

.s-con .banner-wrapper .banner .banner-disc li {
  float: left;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  border: 2px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  border-color: rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.4);
}

.s-con .banner-wrapper .banner .banner-disc li:hover {
  background: rgba(255, 255, 255, 0.4);
  border-color: rgba(0, 0, 0, 0.4);
}

.s-con .banner-wrapper .banner .banner-disc li.active {
  background: rgba(255, 255, 255, 0.4);
  border-color: rgba(0, 0, 0, 0.4);
}

.s-con .banner-sub {
  display: flex;
  justify-content: space-between;
  margin: 14px 0 26px;
}

.s-con .banner-sub .banner-tool {
  width: 234px;
  height: 170px;
  padding: 3px;
  box-sizing: border-box;
  background: #5f5740;
}

.s-con .banner-sub .banner-tool li {
  float: left;
  width: 70px;
  height: 82px;
  padding: 0 3px;
  font-size: 12px;
  color: #fff;
  opacity: 0.7;
  text-align: center;
  position: relative;
}

.s-con .banner-sub .banner-tool li i {
  font-size: 24px;
  font-weight: 100;
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin: 20px auto 8px;
}

.s-con .banner-sub .banner-tool li::before {
  top: -1px;
  left: 6px;
  width: 64px;
  height: 1px;
  position: absolute;
  content: "";
  background: #665e57;
}

.s-con .banner-sub .banner-tool li::after {
  top: 6px;
  left: 0;
  width: 1px;
  height: 70px;
  position: absolute;
  content: "";
  background: #665e57;
}

.s-con .banner-sub .banner-tool li:hover {
  opacity: 1;
}

.s-con .banner-sub .banner-ad {
  width: 978px;
  height: 170px;
  display: flex;
  justify-content: space-between;
}

.s-con .banner-sub .banner-ad li img {
  width: 316px;
  height: 170px;
}

.s-con .banner-sub .banner-ad li:hover {
  cursor: pointer;
}

.content {
  background-color: #f5f5f5;
  padding-bottom: 22px;
}

.content .c-con {
  margin: 0 auto;
  padding-top: 22px;
}

.content .c-con .c-ad, .content .c-con .c-item {
  margin-bottom: 22px;
}

.content .c-con .item-title {
  height: 58px;
  line-height: 58px;
  display: flex;
  justify-content: space-between;
}

.content .c-con .item-title .title-txt {
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}

.content .c-con .item-title .more {
  color: #424242;
}

.content .c-con .item-title .more i {
  margin-left: 8px;
  color: #b0b0b0;
}

/* 换选tab样式*/

.content .c-con .item-title .more li {
  height: 26px;
  line-height: 26px;
  float: left;
  margin-left: 30px;
}

.content .c-con .item-title .more .active {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}

.content .c-con .item-title .more:hover span, .content .c-con .item-title .more:hover i {
  color: #ff6700;
}

.content .c-con .item-con {
  display: none;
}

.content .c-con .item-con .item1-left {
  margin-right: 14px;
}

.content .c-con .item-con .item1-left:hover {
  transform: translate3d(0, -2px, 0);
  box-shadow: 0 15px 30px #ccc;
}

.content .c-con .item-con .items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content .c-con .active {
  display: block;
}

.content .c-con .c-item1 .item-con>.items {
  width: 978px;
}

.content .c-con .c-item2 .item-con .items>li:nth-child(5n + 1) {
  padding: 0;
}

.content .c-con .c-item2 .item-con .items>li:nth-child(5n + 1)>img {
  width: 234px;
  height: 300px;
}

.content .item {
  width: 234px;
  height: 300px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 0;
}

.content .item:first-child {
  margin-bottom: 14px;
}

.content .item img {
  width: 160px;
  height: 160px;
  margin-bottom: 18px;
}

.content .item .item-name {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  margin-bottom: 2px;
}

.content .item .item-info {
  height: 18px;
  font-size: 12px;
  color: #b0b0b0;
  margin-bottom: 10px;
}

.content .item .item-price {
  font-size: 14px;
  color: #ff6700;
}

.content .item .item-price .primary-price {
  color: #b0b0b0;
  margin-left: 0.5em;
  text-decoration: line-through;
}

.content .item:hover {
  transform: translate3d(0, -2px, 0);
  box-shadow: 0 15px 30px #ccc;
}

/* 最后一个li设置 */

.content .item-last ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 234px;
  height: 300px;
}

.content .item-last ul li {
  box-sizing: border-box;
  padding-top: 32px;
  width: 234px;
  height: 143px;
  background-color: #fff;
}

.content .item-last ul li:hover {
  transform: translate3d(0, -2px, 0);
  box-shadow: 0 15px 30px #ccc;
}

.content .item-last ul li .item-info {
  display: flex;
  justify-content: space-around;
}

.content .item-last ul li .item-info .item-name {
  width: 94px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  margin-left: 20px;
}

.content .item-last ul li .item-info .item-name .item-more {
  font-size: 18px;
}

.content .item-last ul li .item-info .item-name .hot-item {
  font-size: 12px;
  color: #757575;
}

.content .item-last ul li .item-info i {
  font-size: 48px;
  color: #ff6700;
}

.content .item-last ul li .item-info img {
  width: 80px;
  height: 80px;
}

.content .item-last ul li .price {
  margin-left: 30px;
  font-size: 14px;
  color: #ff6700;
}

.content .c-con .c-item3 .item-con>.items {
  display: flex;
  justify-content: space-between;
  width: 1226px;
}

.content .c-con .c-item3 .item-con>.items li {
  width: 296px;
  height: 285px;
  background-color: #fff;
  text-align: center;
  position: relative;
}

.content .c-con .c-item3 .item-con>.items :hover {
  transform: translate3d(0, -2px, 0);
  box-shadow: 0 15px 30px #ccc;
}

.content .c-con .c-item3 .item-con>.items li img {
  width: 296px;
  height: 180px;
}

.content .c-con .c-item3 .item-con>.items li .video-name {
  margin: 28px 0 6px;
  color: #333;
  font-size: 14px;
}

.content .c-con .c-item3 .item-con>.items li .video-info {
  font-size: 12px;
  color: #b0b0b0;
}

.content .c-con .c-item3 .item-con>.items li span {
  width: 32px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 12px;
  position: absolute;
  left: 15px;
  bottom: 110px;
}

.content .c-con .c-item3 .item-con>.items li i {
  /* position: absolute;
    left: 20px;
    bottom: 10px; */
  font-size: 20px;
  /* color: #424242; */
  line-height: 20px;
  color: #fff;
  /* background-color: rgba(0,0,0,.6); */
}

.content .c-con .c-item3 .item-con>.items li span:hover {
  background-color: #ff6700;
  /* color: #ff6700; */
}

.home-loft {
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 99;
  display: none;
}

.home-loft li {
  position: relative;
  display: block;
  width: 82px;
  height: 90px;
  margin-top: -1px;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #757575;
}

.home-loft li i {
  font-size: 30px;
}

.home-loft li:hover {
  color: #ff6700;
}

.home-loft li.active {
  color: #fff;
  background-color: #ff6700;
}

.home-tool {
  position: fixed;
  bottom: 70px;
  right: 0;
  z-index: 99;
}

.home-tool ul:last-child {
  margin-top: 14px;
  display: none;
}

.home-tool li {
  position: relative;
  width: 82px;
  height: 90px;
  margin-top: -1px;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #757575
}

.home-tool li a {
  color: #757575;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-tool li a:hover {
  color: #ff6700;
}

.home-tool li i {
  font-size: 30px;
}

.home-tool li:hover {
  color: #ff6700;
}

.home-tool li .mi-app {
  position: absolute;
  display: block;
  width: 130px;
  height: 192px;
  padding: 14px;
  box-sizing: border-box;
  margin-top: -1px;
  top: 0;
  left: -142px;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  text-align: center;
  display: none;
}

.home-tool li .mi-app img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 6px auto;
}

.home-tool li .mi-app span {
  display: block;
  width: 82px;
  margin: 14px auto 0;
  color: #757575;
  text-align: center;
}

.home-tool li span {
  margin-top: 10px;
}

.home-tool li:first-child:hover .mi-app {
  display: block;
}