@font-face {
  font-family: "iconfont"; /* Project id 2749209 */
  src: url('iconfont.woff2?t=1629818079206') format('woff2'),
       url('iconfont.woff?t=1629818079206') format('woff'),
       url('iconfont.ttf?t=1629818079206') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xin:before {
  content: "\e6cd";
}

.icon-cha:before {
  content: "\e61e";
}

.icon-jiadian:before {
  content: "\e633";
}

.icon-shoubiao:before {
  content: "\e616";
}

.icon-tubiaoCSban-:before {
  content: "\e608";
}

.icon-chongdianqi:before {
  content: "\e602";
}

.icon-shipin:before {
  content: "\e6bc";
}

.icon-jiqiren:before {
  content: "\e85b";
}

.icon-xinxi:before {
  content: "\e65e";
}

.icon-dingwei:before {
  content: "\e642";
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-gongju:before {
  content: "\e615";
}

.icon-youjiantou:before {
  content: "\e61b";
}

.icon-weixin1:before {
  content: "\e61c";
}

.icon-liwu:before {
  content: "\e622";
}

.icon-left:before {
  content: "\e64f";
}

.icon-right:before {
  content: "\e655";
}

.icon-shouji:before {
  content: "\e63e";
}

.icon-tick:before {
  content: "\e605";
}

.icon-mimayincang:before {
  content: "\e63a";
}

.icon-kefu:before {
  content: "\e6ab";
}

.icon-zhaoshangxiaochengxu-mimakejian:before {
  content: "\e62f";
}

.icon-shipinbofang-:before {
  content: "\e693";
}

.icon-yonghu:before {
  content: "\e65b";
}

.icon-top:before {
  content: "\e61d";
}

.icon-7tiantuihuanhuo:before {
  content: "\e61f";
}

.icon-xiala:before {
  content: "\e6bb";
}

.icon-weibo:before {
  content: "\ea8c";
}

.icon-right-circle-fill:before {
  content: "\eb22";
}

.icon-qq:before {
  content: "\e601";
}

.icon-weibo1:before {
  content: "\e619";
}

.icon-weixin:before {
  content: "\e61a";
}

.icon-zhifubao:before {
  content: "\e607";
}

.icon-F:before {
  content: "\e600";
}

.icon-xiaomi:before {
  content: "\e661";
}

.icon-SIMqiaguanli:before {
  content: "\e614";
}

.icon-zhong:before {
  content: "\e641";
}

.icon-huafeichongzhi:before {
  content: "\e60a";
}

.icon-gouwuche:before {
  content: "\e668";
}

.icon-sousuo:before {
  content: "\e66c";
}

.icon-ziyuan:before {
  content: "\e610";
}

.icon-huishuai:before {
  content: "\e62b";
}

